@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.grad-hero-bg{
  background: rgb(108,216,136);
background: linear-gradient(0deg, rgba(108,216,136,1) 23%, rgba(110,188,130,1) 23%, rgba(142,244,168,1) 23%, rgba(231,231,231,1) 100%);
/* background: url('../src//pics/Group\ 11.png') no-repeat, fixed, center; */
}

.lower_bg{
  position: absolute;
  width: 100%;
  height: 100px;
 
}
.lower_bg::before{
  content: " ";
  position: absolute;
  width: 100%;
  bottom: -200px;
  z-index: 50;
  height: 200px;
  top: 50px;
  background-color: black;
}

.spinner{
  width: 40px;
  height: 40px;
  border: 2px solid rgb(197, 191, 191);
  border-radius: 50%;
  border-top: 2px solid rgb(44, 93, 197);
}

html{
   scroll-behavior: smooth;
}